<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FREEWAY Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="container p-5">
<form class="row g-3 needs-validation" method="POST" action="/admin/notifications">
    <div class="col-md-4">
        <label for="notificationSummary" class="form-label"><strong>알림 요약</strong></label>
        <input type="text" class="form-control" id="notificationSummary" placeholder="지하철 4호선 지연"
               name="notificationSummary" required>
    </div>
    <div class="col-md-4">
        <label for="notificationContents" class="form-label"><strong>알림 내용</strong></label>
        <input type="text" class="form-control" id="notificationContents" placeholder="현재 지하철 4호선이 지연되고 있습니다."
               name="notificationContents" required>
    </div>
    <div class="form-outline datetimepicker" data-mdb-inline="true">
        <label for="notificationDateTime" class="form-label"><strong>알림 시간</strong></label>
        <input type="datetime-local" class="form-control" id="notificationDateTime" name="notificationDate">
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">알림 등록</button>
    </div>
</form>
<br><br>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>알림 요약</th>
            <th>알림 내용</th>
            <th>알림 시간</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification : ${notifications}">
            <td th:text="${notification.id}" id="notificationId"></td>
            <td th:text="${notification.summary}"></td>
            <td th:text="${notification.content}"></td>
            <td th:text="${notification.dateTime}"></td>
            <td>
                <a id="removeButton" href="#" class="btn btn-danger" role="button">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script>
    const removeButton = document.getElementById('removeButton');
    const notificationId = document.getElementById('notificationId').textContent;

    if (removeButton) {
        removeButton.addEventListener('click', event => {
            fetch(`/admin/notifications/${notificationId}`, {

                method: 'DELETE'
            })
                .then(() => {
                    alert('삭제 완료');
                    location.replace(`/admin/notifications`);
                });
        });
    }
</script>
</html>